::selection
  background-color: rgba(62,175,124,0.9)
  color: white
.home-blog .hero .description{
  color: #000!important
}
// html
//   scroll-behavior: smooth
//   font-family: -apple-system,BlinkMacSystemFont,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Segoe UI","PingFang SC","Hiragino Sans GB", "Source Han Sans SC", "Microsoft YaHei","Helvetica Neue", Helvetica,Noto Sans CJK SC,WenQuanYi Micro Hei,Arial,sans-serif